.board {
  margin: 50px auto 0px auto;
  width: calc(50px * 8 + 4px * 18);
  height: calc(50px * 8 + 4px * 18);
  background-color: #2A2A2A;
  border-radius: 4px;
  padding: 4px 0px 0px 4px;
}

.square {
  width: 50px;
  height: 50px;
  background-color: #456;
  margin: 4px;
  display: inline-block;
}

.piece {
  width: 42px;
  height: 42px;
  border-radius: 100px;
  left: 4px;
  top: 4px;
  position: relative;
  background-color: #456;
}

.selected {
  background-color: #444;
}

.w {
  background-color: #FFF;
}

.b {
  background-color: #000;
}

.option {
  background-color: #345;
}

#msg {
  margin-top: 10px;
  text-align: center;
}
